server:
  port: 8080

spring:
  application:
    name: data-import-service

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/importData}

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true

logging:
  level:
    org.springdoc: INFO
    org.springframework.web: INFO
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
